<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Node ShareX Server</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body style="height: 100%;width: 100%;background-color: rgb(59,59,59);">
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: rgb(52,52,52);">
            <div class="container"><a class="navbar-brand text-left d-flex d-xl-flex justify-content-xl-start" href="#" style="color: rgb(255,255,255);font-family: Roboto, sans-serif;">ShareX Webserver</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/short" style="color: rgb(230,94,94);">URL Shortener</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/gallery" style="color: rgb(230,94,94);">Gallery</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="https://github.com/TannerReynolds/node-sharex-server" style="color: rgb(230,94,94);">Github</a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <div class="features-clean" style="background-color: rgb(59,59,59);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color: rgb(255,255,255);">Features</h2>
                <p class="text-center" style="color: rgb(230,94,94);">Fully featured to work with most of ShareX's upload functions</p>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-picture-o icon" style="color: rgb(230,94,94);"></i>
                    <h3 class="name" style="color: rgb(255,255,255);">Image Uploading</h3>
                    <p class="description" style="color: rgb(230,94,94);">Easy and quick image uploading by making your request URL "http(s)://doma.in/api/files"</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-arrow-circle-o-up icon" style="color: rgb(230,94,94);"></i>
                    <h3 class="name" style="color: rgb(255,255,255);">General File Uploading</h3>
                    <p class="description" style="color: rgb(230,94,94);">You can upload all other files using "http(s)://doma.in/api/files". Ensure all wanted filetypes are listed in the config file</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon" style="color: rgb(230,94,94);"></i>
                    <h3 class="name" style="color: rgb(255,255,255);">URL Shortening</h3>
                    <p class="description" style="color: rgb(230,94,94);">Alongside uploading files, you can also shorten URLs using&nbsp;"http(s)://doma.in/api/shortener"&nbsp;<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fab fa-discord icon" style="color: rgb(230,94,94);"></i>
                    <h3 class="name" style="color: rgb(255,255,255);">Discord Logging Support</h3>
                    <p class="description" style="color: rgb(230,94,94);">Enable logging uploads using a Discord bot by inputting needed information in the configuration file. Allows you to see previews of uploads, along with the uploader's IP address.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fas fa-code icon" style="color: rgb(230,94,94);"></i>
                    <h3 class="name" style="color: rgb(255,255,255);">Custom Pastes</h3>
                    <p class="description" style="color: rgb(230,94,94);">Upload copied text and code to get hatebin-like pages complete with syntax highlighting using "http(s)://doma.in/api/paste"&nbsp;</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="far fa-edit icon" style="color: rgb(230,94,94);"></i>
                    <h3 class="name" style="color: rgb(255,255,255);">Markdown Rendering</h3>
                    <p class="description" style="color: rgb(230,94,94);">Enable and upload .md files and markdown rendering in your configuration files to automatically render uploaded markdown files</p>
                </div>
            </div>
        </div>
    </div>
    <div class="social-icons" style="background-color: rgb(52,52,52);"><a href="https://github.com/TannerReynolds"><i class="fab fa-github" style="color: rgb(230,94,94);"></i></a><a href="https://discord.gg/5avnG8a"><i class="fab fa-discord" style="color: rgb(230,94,94);"></i></a><a href="https://www.vultr.com/?ref=7165991"><i class="fas fa-server" style="color: rgb(230,94,94);"></i></a>
        <a
            href="https://qoilo.com"><i class="fa fa-globe" style="color: rgb(230,94,94);"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>