<!DOCTYPE html>
<html>
<head>
<meta name="theme-color" content="#DC603A">
<meta property="og:title" content="HPaste">
<meta property="og:description" content="<%= ogDesc; %>...">
<link rel="stylesheet" href="atom-one-dark.css">
<link rel="stylesheet" href="paste.css">
<script src="highlight.pack.js"></script>
<script src="highlightjs-line-numbers.min.js"></script>
</head>
<body>
<pre><code id="code"><%= pData; %></code></pre>
<script>hljs.initHighlightingOnLoad()</script>
<script>hljs.initLineNumbersOnLoad();</script>
</body>
</html>