<!DOCTYPE html>
<html>
<head>
<meta name="theme-color" content="#DC603A">
<meta property="og:title" content="HPaste">
<meta property="og:description" content="<%= ogDesc; %>...">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="highlight.pack.js"></script>
</head>
<style>
body {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
}
</style>
<body>
<%- mdRender; %>
<script>hljs.initHighlightingOnLoad()</script>
</body>
</html>